.aboutAvatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin-left: 25vw; */
}

.aboutText {
    color: #55769A;
    width:60%;
    text-align: left;
    margin-left: 15vw;
    /* margin-top: auto; */
    /* margin-right: auto; */
    display: inline-block;
    /* align-content: center; */
    line-height: 1.6;
    margin-top: 3vh;
}
.bookContainer {
    margin-left: 11vw;
    margin-top: 5vh; 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 70%;
}

@media(max-width: 600px) {
    .aboutAvatar {
        /* margin-left: ; */
    }
    .aboutText {
        width: 400px;
        margin-left: 30px;

    }
}