.FFPara {
    width: 75%;
    color: #55769a;
}

img {
    width: 75%;
    margin-top: 5vh;
    
}

p {
    line-height: 1.6;
}

/* .avatar img {
    margin-top: 0px;
} */
.bodyContainer {
    height: 100%; 
    margin-top: 20vh; 
    margin-left: 10vw;
}

@media (max-width: 600px) {
    .bodyContainer {
        height: 100%; 
        /* margin-top: 20vh;  */
        margin-left: 15vw;
    }
 
 }