body * {
    width: 100%;
    box-sizing: border-box;
 }
 body {
    margin: 0;
 }
 .container {
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto;
    grid-template-areas:
       "left middle right";
    min-height: 100vh;
    /* padding: 20px; */
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 20px; */
 }
 /* article, aside, section, main {
    display: flex;
    font-family: 'Arial';
    justify-content: center;
    align-items: center;
 } */
 
 .menu {
    grid-area: left;
    /* background: #de0a7e; */
    min-height: 40px;
    /* border: 1px solid black; */
 }
 
 .body {
    grid-area: middle;
    /* background: yellow; */
    min-height: 40px;
    color: #444;
    /* border: 1px solid black; */
 }
 
 .logo { 
    grid-area: right;
    /* background: #00a4cf;  */
    /* border: 1px solid black; */
}
    
.icons {
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 200px; */
}

.iconButton {
    border: none;
    background-color: transparent;
    width: 25%;
    /* margin: 2vw; */
    /* height: 100px; */
    /* border: 1px solid black; */
    text-decoration: none;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
}
.iconButton img {
   height: 90px;
   width: auto;

}

.iconText {
   margin-top: 5px;
   color: #55768a;
   font-size: medium;
   font-weight: lighter;
   text-align: center;
}

#blurb {
    width: 45%;
    font-weight: lighter;
    line-height: 1.6;
    display: inline-block;
    text-align: "center";
    margin-left: 17vw; 
    color: #eeb868;
    margin-top: 7vh;
}
 
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
  }

  @media (max-width: 900px){
   .iconButton img {
      height: 70px;
   }
} 
@media (max-width: 750px){
   .iconButton img {
      height: 60px;
   }
} 

 @media (max-width: 600px){
    #blurb {
      width: 100%;
      /* margin: auto; */
      margin-left: 0vw;
      text-align: center;
      font-size: small;
    }
    .iconButton img {
       height: 50px;
    }
 } 
