.projectButtonContainer {
    margin-top: 20vh; 
    margin-left: 10vw;
}

.projectButton {
    width: 50vw;
    height: 40vh;
    border: 1px #55769A solid;
    border-radius: 3px;
    margin-bottom: 10vh;
}

.projectButtonLabel {
    color:#EF767A; 
    text-align: left; 
    font-size: x-large;
    margin-top: 1vh;
    margin-left: 1vw;
    font-weight: 400;
    margin-right: 20%;
    width: 10%;
}

#factflow, #tropetracker, #internships {
    margin-left: 3vw;
}

.buttonContainer {
    display: flex;
}

.projectButton a {
    text-decoration: none;
}
.bodyContainer {
    margin-top: 20vh; 
    margin-left: 10vw;
}
.projectImg {
    width:10vw;
    margin-top: 0vh;
}
.projectTitle {
    color: #ef7679;
    font-size: 3rem;
    margin-left: 2vw;
}
.projectOverview {
    color:#55769a;
    margin-left: 12vw;
    font-size: x-large;
    font-weight: 300;
}
.synopsisBlurb {
    width: 40%; 
    margin-left: 10px;;
    color:#55769a
}
.overviewBlurb {
    width: 40%;
    color:#55769a
}
.tropeTrackerButton {
    color: #eeb868; 
    width:20vw;
    font-size: x-large;
    margin-top: 10vh; 
    margin-bottom:10vh;
    text-align: left;
    text-decoration: none;
}
img {
    width:65%;
}

@media (max-width: 600px) {
    .bodyContainer {
        margin: auto;
    }
    img {
        width: 350px;
    }
    .tropeTrackerButton{
        width: 400px;
    }
    .projectButton {
        width: 400px;
        height: 250px;
        margin-left: 8vw;
    }
    .buttonContainer {
        display: block;
    }
    .projectButtonLabel {
        text-align: center;
        /* margin: auto; */
        font-size: large;
        width: auto;
        margin-left: 50px
    }
    .projectImg {
        width: 50px;
    }
    
    .projectTitle {
        color: #ef7679;
        font-size: x-large;
        margin-left: 2vw;
    }
    .projectOverview {
        font-size: large;
        font-weight: 200;
        margin-left: 10px;
    }
    .synopsisBlurb {
        width: 300px;
    }
    .overviewBlurb {
        width: 300px;
        /* color:#55769a */
    }
    #factflow, #tropetracker, #internships {
        margin-left: 0vw;
    }
 }