body * {
    width: 100%;
    box-sizing: border-box;
 }
 body {
    margin: 0;
 }

 button{
     border: none;
     background-color: white;
 }

 

 .container {
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 100vh;
    grid-template-areas:
       "left middle right";
    min-height: 100vh;
    height: 100%;
 }
 
 .menu {
    grid-area: left;
    background:white;
    min-height: 40px;
    
 }

 .footer {
    /* width: 60vw;  */
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    /* align-content: center;  */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* bottom: 0px;  */
    /* margin-top: 80vh; */
    /* width: 10vw; */
 }

 .footer a {
    width: 150px;;
 }
 
 .menuButton {
     margin-top: 1vh;
     border: none;
     background-color: transparent;
     color: #55769A;
     font-size: 14px;
     font-weight: 400;
     text-align: left;
     padding: 5px;
     display: block;
     text-decoration: none;
     width: 10vw;
 }

 .menuContainer {
   margin-left: 5vw;
   margin-top: 6vh; 
   top: 0px; 
   position: sticky; 
   position: -webkit-sticky;
 }

 .body {
    grid-area: middle;
    /* background: yellow; */
    min-height: 40px;
    color: #444;
 }
 
 .logo { 
    grid-area: right;
}
    
/* .icons {
    display: "inline-box";
    margin-top: "7vh";
    width: "100%";
} */

.avatarContainer {
   top: 0px; 
   position: sticky; 
   position: -webkit-sticky;
}

.avatar {
    /* vertical-align: middle; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
  }
 
 @media (max-width: 600px) {
    .container {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 0.2fr 0.3fr 1fr 1fr 1fr;
       grid-template-areas:
          "left"
          "right"
          "middle";
       padding: 10px;
       grid-row-gap: 10px;
       grid-column-gap: 10px;
    }
   .menuContainer {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
   }
   .avatarContainer {
      position: relative;
      margin-left: 50%;
   }
   .footer {

   }
   
 }
 
 /* @media (max-width: 600px) {
    .container {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;
       grid-template-areas:
          "a a"
          "b b"
          "b b"
          "b b"
          "b b"
          "c c";
    }
    article, main { min-height: 30vh; }
    aside { display: none; }
 } */